.form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.125rem;

  .additional-info {
    text-align: center;

    a {
      text-decoration: none;
      color: var(--grey-700);
      font-size: 0.875rem;
    }
  }

  .labeled-input {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 700;
      font-size: 1rem;
    }
  }

  button[type="submit"] {
    background: var(--primary);
    color: var(--white);
    height: 44px;
    padding: 0.5rem 0;

    &:hover {
      background: var(--primary);
      color: var(--white);
    }

    &:disabled {
      background: var(--grey-300);
      color: var(--grey-700);
    }
  }
}
