.menu-item {
  display: flex;
  align-items: center;
  color: var(--grey-700);
  text-decoration: none;

  &.collapsed {
    height: 36px;
    width: 36px;
    border-radius: 6px;

    justify-content: center;

    transition: all 200ms;

    .icon-container {
      margin: 0;
    }

    &:hover {
      color: var(--white);
      background: var(--black-900);
    }
  }

  .icon-container {
    margin-right: 1rem;
  }

  &:hover {
    cursor: pointer;
    color: var(--black-900);
  }
}
