.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding: 1.5rem;

  background: var(--white);
  border-right: 1px solid var(--grey-200);

  transition: width 300ms;

  &.collapsed {
    width: 90px;
  }

  .sidebar-header {
    margin-bottom: 4rem;
    position: relative;

    &.collapsed {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      button {
        position: static;
        transform: translate(0, 0);
      }
    }

    .logo {
      height: 64px;
      width: 70%;
    }

    button {
      cursor: pointer;
      height: 42px;
      width: 42px;
      position: absolute;
      left: 101%;
      top: 50%;
      transform: translate(0, -50%);

      background: none;
      padding: 8px;
      background: var(--white);
      border: 1px solid var(--grey-200);
      color: var(--grey-300);
      border-radius: 50%;
    }
  }

  .sidebar-content {
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: absolute;

    &.collapsed {
      position: static;
    }
  }
}
