.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding: 1.5rem;

  background: var(--white);
  border-right: 1px solid var(--grey-200);

  transition: width 300ms;

  &.collapsed {
    width: 90px;
  }

  .sidebar-header {
    margin-bottom: 4rem;
    position: relative;

    &.collapsed {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      button {
        position: static;
        transform: translate(0, 0);
      }
    }

    .logo {
      height: 64px;
      width: 70%;
    }

    button {
      cursor: pointer;
      height: 42px;
      width: 42px;
      position: absolute;
      left: 101%;
      top: 50%;
      transform: translate(0, -50%);

      background: none;
      padding: 8px;
      background: var(--white);
      border: 1px solid var(--grey-200);
      color: var(--grey-300);
      border-radius: 50%;
    }
  }

  .sidebar-content {
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: absolute;

    &.collapsed {
      position: static;
    }
  }
}

.logout-button {
  display: flex;
  align-items: center;
  color: var(--grey-700);
  border: none;
  background: none;

  &.collapsed {
    height: 36px;
    width: 36px;
    border-radius: 6px;

    justify-content: center;

    transition: all 200ms;

    .icon-container {
      margin: 0;
    }

    &:hover {
      color: var(--white);
      background: var(--black-900);
    }
  }

  &.active {
    color: var(--primary-darker);
  }

  .icon-container {
    margin-right: 1rem;
    min-width: 24px;
    min-height: 24px;
  }

  &:hover {
    cursor: pointer;
    color: var(--black-900);
  }
}
