.tab {
  button {
    border-top: 1px solid var(--grey-300);
    border-left: 1px solid var(--grey-300);
    border-bottom: 1px solid var(--grey-300);
    border-right: none;

    &:hover {
      background: var(--grey-100);
    }
  }

  &:first-child {
    button {
      border-radius: 8px 0 0 8px;
    }
  }

  &:last-child {
    button {
      border-right: 1px solid var(--grey-300);
      border-radius: 0 8px 8px 0;
    }
  }

  button {
    background: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  &.active {
    button {
      background: var(--grey-100);
    }
  }
}
